/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");

.heroBanner {
  padding: 4rem 0;
  width: 60%;
  margin: auto;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.heroDescription {
  max-width: 560px;
  -webkit-margin-start: auto;
  margin-inline-start: auto;
  -webkit-margin-end: auto;
  margin-inline-end: auto;
  color: #718096;
  font-size: 1.125rem;
  margin-top: 1.5rem;
}

.heroButton {
  font-weight: 500;
  padding: 12px 25px;
  margin-right: 10px;
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: inline-flex;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    position: relative;
    white-space: nowrap;
    vertical-align: middle;
    outline: 2px solid transparent;
    outline-offset: 2px;
    width: auto;
    line-height: 1.2;
    height: 4rem;
    min-width: 3rem;
    font-size: 1.2rem;
    -webkit-padding-start: 40px;
    padding-inline-start: 40px;
    -webkit-padding-end: 40px;
    padding-inline-end: 40px;
}

.featureCard {
  background-color: #f7fafc;
  padding: 10px;
  margin-bottom: 30px;
}

h1 {
  color: #444950;
  font-size: 2.25rem!important;
  font-weight: 600;
}

.featureCardIcon {
  margin-bottom: 20px;
}

.featureCardTitle,
.featureCardBody {
  font-family: "Poppins";
}

@media screen and (max-width: 966px) {
  .heroBanner {
    width: 100%;
    padding: 2rem 1rem;
  }
  
  .heroDescription {
    width: 100%;
  }
}

@media screen and (max-width: 405px) {
  .heroButton {
    width: 100%;
    margin-bottom: 10px;
  }
}

.heroTitle {
  font-size: 3rem!important;
  font-weight: 800;
}

.gradienttitle {
  background-image: linear-gradient(60deg,#5fa0ff,#785fff);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font-variation-settings: 'wght' 800;
  font-size: 3rem!important;
}
