.link {
    color: var(--ifm-color-emphasis-800);
    --ifm-link-color: var(--ifm-color-emphasis-800);
    --ifm-link-hover-color: var(--ifm-color-emphasis-800);
    --ifm-link-hover-decoration: none;
    padding: 8px;
    border-radius: 10px;
    background-color: var(--ifm-card-background-color);
  
    /* box-shadow: var(--ifm-global-shadow-lw); */
    box-shadow: 0 1.5px 3px 0 rgba(0, 0, 0, 0.15);
    border: 1px solid var(--ifm-color-emphasis-200);
    transition: box-shadow var(--ifm-transition-fast) ease,
      background-color var(--ifm-transition-fast) ease;
  }
  
  .link:hover {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
    text-decoration: none;
  }
  
  html[data-theme='dark'] .link:hover {
    --ifm-card-background-color: #2d2d2d;
  }